@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#container-hmf {
  scroll-behavior: smooth;
}

#container-hmf {
  background-color: black;
  font-size: 1.1em;
}

.h1 {
  font-size: 2em;
}

h2 {
  color: white;
}

.span-LetraVermelha {
  color: #ff0000;
}

input[type=checkbox] {
  visibility: hidden;
}

#header-home {
  position: fixed;
  background-color: #292525;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 999;
  width: 100vw;
}
#header-home #navbar {
  display: flex;
  gap: 40px;
}
#header-home #navbar a {
  font-size: 0.9em;
  color: white;
  text-decoration: none;
  transition: 0.4s;
}
#header-home #navbar a:hover {
  text-decoration: underline;
}
#header-home #hamburguer {
  display: none;
}

@media screen and (max-width: 750px) {
  #header-home {
    flex-wrap: wrap;
    gap: 20px;
    padding: 10px;
  }
  #header-home #navbar a {
    padding-bottom: 5px;
  }
  #header-home #butao-github {
    display: none;
  }
}
@media screen and (max-width: 650px) {
  #header-home {
    justify-content: left;
  }
  #header-home #navbar {
    display: none;
  }
  #header-home #hamburguer {
    display: inline-block;
  }
  #header-home #hamburguer #menu {
    position: absolute;
    top: 10px;
    right: 10%;
    z-index: 999;
    padding: 5px;
  }
  #header-home #hamburguer #menu .tracos {
    background-color: red;
    margin: 5px 0px;
    transition: 0.1s;
    width: 40px;
    height: 5px;
  }
  #header-home #hamburguer #itens {
    display: none;
  }
  #header-home #hamburguer #itens a {
    font-size: 1.9em;
    font-weight: bold;
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin: 10px;
  }
  #header-home #hamburguer #itens a:hover {
    text-decoration: underline;
  }
  #header-home input[type=checkbox]:checked ~ label #hamburguer #itens {
    position: fixed;
    right: 0;
    top: 0;
    background-color: rgba(222, 220, 220, 0.876);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    transition: transform 2s, height 2s;
  }
  #header-home input[type=checkbox]:checked ~ label #hamburguer #menu {
    position: absolute;
    top: 10px;
  }
  #header-home input[type=checkbox]:checked ~ label #hamburguer #menu #traco-1 {
    position: absolute;
    top: 10px;
    transform: rotate(45deg);
    transition: 0.7s;
  }
  #header-home input[type=checkbox]:checked ~ label #hamburguer #menu #traco-2 {
    transform: translateX(-100px);
    visibility: hidden;
    transition: 0.1s;
  }
  #header-home input[type=checkbox]:checked ~ label #hamburguer #menu #traco-3 {
    position: absolute;
    top: 10px;
    transform: rotate(-45deg);
    transition: 0.7s;
  }
}
@keyframes img-flutuante {
  0% {
    transform: translateY(25px);
  }
  50% {
    transform: translateY(-25px);
  }
  100% {
    transform: translateY(25px);
  }
}
#sobre-mim {
  display: flex;
  align-items: center;
  font-size: 1.15em;
  font-weight: bold;
  background-color: black;
  color: white;
  padding: 70px 50px 0px 50px;
  max-width: 100vw;
  min-height: 100vh;
}
#sobre-mim #div-animação-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: justify;
  flex-wrap: wrap;
}
#sobre-mim #sm-esquerda {
  text-align: center;
}
#sobre-mim #sm-esquerda #img-flutuante {
  animation-name: img-flutuante;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  padding: 25px;
  border: 1.5px solid transparent;
  border-radius: 10%;
}
#sobre-mim #sm-esquerda #img-flutuante:hover {
  border: 1.5px solid #ff0000;
}
#sobre-mim #sm-direita {
  flex: 0 1 600px;
}
#sobre-mim #sm-direita #span-nome {
  font-size: 1.5em;
}
#sobre-mim #sm-direita #texto {
  font-family: "Ubuntu", sans-serif;
}

@media screen and (max-width: 700px) {
  #sobre-mim {
    text-align: center;
  }
  #texto-descartavel {
    display: none;
  }
}
#habilidades {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #0b0b0b;
  color: rgb(71, 71, 71);
  padding: 10px 0px;
  min-height: 100vh;
}
#habilidades h2 {
  color: white;
}
#habilidades .title-ability {
  color: #ff0000;
  text-align: center;
}
#habilidades #conteiner-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 20px;
  padding: 0px 20px;
}
#habilidades #conteiner-cards .cards {
  border: 2px solid white;
  flex: 0 0 280px;
}
#habilidades #conteiner-cards .cards:hover {
  border: 2px solid #ff0000;
  box-shadow: 1px 1px 10px 5px rgba(255, 0, 0, 0.128);
}
#habilidades #conteiner-resposta-abilidade {
  color: white;
  text-align: center;
  padding: 20px;
}
#habilidades #btn-mais-habilidades {
  display: none;
}
#habilidades label {
  width: 100%;
  display: block;
}

@media screen and (max-width: 920px) {
  #habilidades #btn-mais-habilidades {
    margin: 15px 0px;
    display: block;
  }
  #habilidades .habilidade-descartavel {
    display: none;
  }
  #habilidades #mais-habilidades:checked ~ #conteiner-cards .habilidade-descartavel {
    display: block;
  }
}
#projetos {
  background: url(../imagens/02.jpg) center center no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: black;
  min-height: 100vh;
  padding: 10px;
}
#projetos .contain-projetos {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin: 10px 0px;
}
#projetos .contain-projetos .item-projetos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 0 1 280px;
  border: solid 2px red;
  color: rgb(255, 255, 255);
  border-radius: 10px;
  text-align: center;
  min-height: 190px;
  text-decoration: none;
  overflow: hidden;
}
#projetos .contain-projetos .item-projetos p {
  background-color: rgba(4, 4, 4, 0.27);
  border-radius: 5px;
  width: 100%;
}
#projetos .contain-projetos .item-projetos img {
  height: 145px;
  width: 101%;
}
#projetos .contain-projetos .item-projetos:hover {
  transform: translateY(-8px);
}
#projetos .contain-projetos .item-projetos:hover p {
  letter-spacing: 0.2em;
  transition: 0.4s;
}
#projetos #btn-mais-projetos {
  display: none;
}
#projetos label {
  display: block;
}

@media screen and (max-width: 920px) {
  #projetos .contain-projetos .projeto-descartavel {
    display: none;
  }
  #projetos #btn-mais-projetos {
    margin: 15px 0px;
    display: block;
  }
  #projetos #mais-projetos:checked ~ .contain-projetos .projeto-descartavel {
    display: flex;
  }
}
footer#contatos {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 200px;
  background-color: #0b0b0b;
  color: white;
  min-height: 100vh;
}
footer#contatos #animação-texto-contatos {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}
footer#contatos #animação-texto-contatos .footer-cards {
  max-width: 200px;
  margin: 10px;
}

#container {
  background-color: #212529;
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 100vh;
}
#container div#ladoDireitoDoContainer {
  color: white;
  font-size: 1.2em;
  border-left: solid 1.5px white;
  padding: 20px;
}
#container div#ladoDireitoDoContainer #containerBtn {
  text-align: center;
}
#container div#ladoDireitoDoContainer #containerBtn #button {
  width: 48%;
  font-weight: bold;
}
#container div#ladoDireitoDoContainer #containerBtn #voltar {
  font-weight: bold;
  width: 100%;
  margin: 20px 0px;
}

@media screen and (max-width: 1000px) {
  #container {
    grid-template-columns: 1fr;
  }
  #container div#ladoDireitoDoContainer {
    text-align: center;
    border-left: none;
  }
}
@media screen and (max-width: 410px) {
  #container #button {
    height: 60px;
  }
}
#container img {
  width: 100%;
  max-width: 550px;
  padding-top: 30px;
}

@media screen and (max-width: 1000px) {
  #container img {
    margin: auto;
  }
}
#container .carroselProjeto02 {
  height: 50vh;
  width: 47vw;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 1000px) {
  #container .carroselProjeto02 {
    width: 100vw;
  }
}

/*# sourceMappingURL=style.css.map */
