// Variaveis cor/fontes/etc
@import "Variaveis/variaveis.scss";

// Estilo Geral
@import "Estilo-Do-Portifolio/geral-para-todas.scss";

// Estilo do Header
@import "Estilo-Do-Portifolio/header.scss";

// Estilo da parte [Sobre Mim]
@import "Estilo-Do-Portifolio/sobre-mim.scss";

// Estilo da parte [Habilidades]
@import "Estilo-Do-Portifolio/habilidades.scss";

// Estilo da parte [Projetos]
@import "Estilo-Do-Portifolio/projetos.scss";

// Estilo da parte [Footer / Contatos]
@import "Estilo-Do-Portifolio/footer-contatos.scss";