@keyframes img-flutuante {
    0% {
        transform: translateY(10px);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(10px);
    }
}

#sobre-mim {
    display: flex;
    align-items: center;
    font-size: 1em;
    font-weight: bold;
    background-image: linear-gradient(to top, #02132B, #021431);
    color: aqua;
    max-width: 100vw;
    min-height: 90vh;
    padding-top: 70px;

    #div-animação-header {
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-align: justify;
        flex-wrap: wrap;

        #btn-mais-sobreMim {
            display: none;
        }
    }

    #sm-esquerda {
        text-align: center;
        padding: 10px;
        border-radius: 30%;

        #img-flutuante {
            animation-name: img-flutuante;
            animation-duration: 5s;
            animation-iteration-count: infinite;
            padding: 25px;
            border: 1.5px solid transparent;
            border-radius: 20%;
            max-width: 330px;
        }
    }
    

    #sm-direita {
        flex: 0 1 600px;
        padding: 10px;
        
        #texto {
            display: inline;
        }

        .icone_aspas {
            width: 15px;
            
            &#aspa-2 {
                transform: rotate(160deg);
            }
        }
    }
}


@media screen and (max-width: 1100px) {
    #sobre-mim {
        #div-animação-header {
            justify-content: center;
        }
        #sm-direita {
            padding: 10px 30px 20px 30px;
        }  
    }
}


@media screen and (max-width: 700px) {
    #sobre-mim {
        #div-animação-header {
            text-align: left;

            #label-mais-sobreMim {
                display: block;

                #btn-mais-sobreMim {
                    margin: 15px 0px;
                    display: block;
                    width: 92vw;
                    
                    padding: 10px -30px 10px 0px;
                }
            }
        }


        #mais-sobreMim:checked ~ #sm-direita #texto-descartavel-2 {
            display: inline;
        }

        
        #texto-descartavel-2 {
            display: none;
        }
    }
}

@media screen and (max-width: 457px) {
    #sobre-mim {
        #sm-esquerda {
            #img-flutuante {
                max-width: 250px;
            }
        }

        #texto-descartavel-1 {
            display: none;
        }

        #mais-sobreMim:checked ~ #sm-direita #texto-descartavel-1 {
            display: inline;
        }
    }
}