
#projetos {
    background: url(../imagens/02.jpg) center center no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $preto-absoluto;
    min-height: 100vh;
    padding: 10px;

    .contain-projetos {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        flex-wrap: wrap;
        gap: 10px;
        margin: 10px 0px;

        .item-projetos {
            display: flex;
            align-items: center;
            justify-content: center;
            flex: 0 1 280px;
            background-color: rgb(255, 255, 255);
            border-radius: 10px;
            text-align: center;
            min-height: 190px;

            
            p {
                background-color: rgba(4, 4, 4, 0.27);
                color: $preto-absoluto;
                border-radius: 5px;
                width: 100%;
            }

            &:hover {
                p {
                    letter-spacing: 0.2em;
                    transition: .4s;
                }
            }
        }    
    }
    
    #btn-mais-projetos {
        display: none;
    }
    label {
        display: block;
    }
}


@media screen and (max-width: 920px) {
    #projetos {
        .contain-projetos {
            div.projeto-descartavel {
                display: none;
            }
        }

        #btn-mais-projetos {
            margin: 15px 0px;
            display: block;
        }
        
        #mais-projetos:checked ~ .contain-projetos .projeto-descartavel {
            display: block;
        }
    }
}