#container {
    display: flex;
    align-items: center;
    justify-content: center;
    img#imgProjeto3 {
        width: 100%;
        max-width: 550px;
        padding: 10px;
    }
}


@media screen and (max-width: 1000px) {
    #container {
        display: block;

        img#imgProjeto3 {
            display: block;
            margin: auto;
        }
    } 
}
