#container {
    img {
        width: 100%;
        max-width: 550px;
        padding-top: 30px;
    }
}


@media screen and (max-width: 1000px) {
    #container {
        img {
            margin: auto;
        }
    } 
}
