footer#contatos {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 200px;
    background-color: $preto-claro;
    color: $color;
    min-height: 100vh;

    #animação-texto-contatos {
        display: flex;
        flex-direction: column;
        gap: 10px;
        text-align: center;
        
        .btnPersonalizado {
            padding: 10px;

            &::before {
                width: 200%;
                height: 0;
            }
            &:hover {
        
                &::before {
                    background-color: aqua;
                    height: 450%;
                    width: 200%;
                }
            }
        }
        
        .footer-cards {
            max-width: 200px;
            margin: 10px;
        }
    }
}