
#habilidades {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: linear-gradient(to top, #000000, #02132B);
    color: rgb(71, 71, 71);
    padding: 30px 0px 10px 0px;
    min-height: 85vh;

    h2 {
        color: white;
    }
    
    .title-ability {
        color: $info;
        text-align: center;
    }

    #conteiner-cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        gap: 20px;
        padding: 0px 20px;

        
        .iconHabilits {
            position: absolute;
            top: 0;
            right: 0;
            width: 35px;
            border-radius: 10% 10% 10% 50%;
            filter: grayscale(100%);
            transition: .5s;
        }

        .cards {
            color: rgb(81, 81, 81);
            text-decoration: none;
            border: 1px solid $color;
            border-radius: 7px;
            flex: 0 0 280px;
            cursor: pointer;
            
            &.impar {
                position: relative;
                transform: translateY(-15px);
            }

            &:hover {
                border: 2px solid $info;
                box-shadow: 0px 1px 2px 1px $info;
                transition: .7s ease;

                .iconHabilits {
                    transition: .5s;
                    filter: grayscale(0);
                }
            }
        }
    }

    #conteiner-resposta-abilidade {
        color: $color;
        text-align: center;
        padding: 10px;
    }


    #btn-mais-habilidades {
        display: none;
    }
    label {
        width: 100%;
        display: block;
    }

}


@media screen and (max-width: 920px) {
    #habilidades {
        #btn-mais-habilidades {
            margin: 15px 0px;
            display: block;
        }

        .habilidade-descartavel {
            display: none;
        }

        #mais-habilidades:checked ~ #conteiner-cards .habilidade-descartavel {
            display: block;
        }

        #conteiner-cards {
            .cards {
                &.impar {
                    position: relative;
                    transform: translateY(0px);
                }
            }
        }
    }
}