
#header-home {
    position: fixed;
    background-color: $background-header;
    color: $color;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 999;
    padding: 3px;
    width: 100vw;
    max-height: 60px;


    #logo {
        font-size: 2em;
        text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.656);
    }


    #navbar{
        display: flex;
        gap: 28px;

        a {
            font: bold 0.8em normal Arial, sans-serif;
            color: $color;
            text-decoration: none;
            transition: .4s;

            &:hover {
                color: rgb(180, 175, 175);
            }
        }
    }

    #hamburguer {
        display: none;
    }

    #butao-github {
        font-size: .9em;
        font-weight: bold;
        border-width: 2px;
        box-shadow: 3px 3px 3px black;
    }
}


// ====== deixando o nav mais confortavel ======
@media screen and (max-width: 900px) {
    #header-home {
        justify-content: space-evenly;

        #logo {
            font-size: 1.7em;
        }

        #navbar {
            gap: 20;

            a {
                font-size: .8em;
            }
        }

        #butao-github {
            display: none;
        }
    }
}

@media screen and (max-width: 750px) {
    #header-home {
        padding: 10px;
    }
}


// ====== Mudando o leyout do header para menu hamburguer ======

@media screen and (max-width: 650px) {
    #header-home {
        justify-content: left;
        #navbar {
            display: none;
        }

        
        #hamburguer {
            display: inline-block;

            #menu {
                position: absolute;
                top: 10px;
                right: 10%;
                z-index: 999;
                padding: 5px;
                .tracos {
                    background-color: red;
                    margin: 5px 0px;
                    transition: .1s;
                    width: 40px;
                    height: 5px;
                }
            }
            #itens {
                display: none;

                a {
                    font-size: 1.9em;
                    font-weight: bold;
                    color: rgb(0, 0, 0);
                    text-decoration: none;
                    margin: 10px;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }


        // ====== Menu itens apareçe e desapareçe ======

        input[type="checkbox"]:checked ~ label #hamburguer #itens {
            position: fixed;
            right: 0;
            top: 0;
            background-color: rgba(222, 220, 220, 0.876);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100vw;
            height: 100vh;
            transition: transform 2s, height 2s;
        }


        // ====== Menu fechando em forma de X ======

        input[type="checkbox"]:checked ~ label #hamburguer #menu {
            position: absolute;
            top: 10px;
        }
        input[type="checkbox"]:checked ~ label #hamburguer #menu #traco-1 {
            position: absolute;
            top: 10px;
            transform: rotate(45deg);
            transition: .7s;
        }
        input[type="checkbox"]:checked ~ label #hamburguer #menu #traco-2 {
            transform: translateX(-100px);
            visibility: hidden;
            transition: .1s;
        }
        input[type="checkbox"]:checked ~ label #hamburguer #menu #traco-3 {
            position: absolute;
            top: 10px;
            transform: rotate(-45deg);
            transition: .7s;
        }
    }
}


// barra de rolagem

#scroll {
    width: 100vw;

    #barra-de-scroll {
        background-color: rgb(255, 0, 0);
        height: 3px;
        width: 0%;
        position: fixed;
        top: 52px;
        z-index: 999;
    }
}