
#projetos {
    background: url(../imagens/02.jpg) center center no-repeat;
    background-size: cover;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #02132B;
    min-height: 100vh;
    padding: 55px 10px 30px 10px;

    .contain-projetos {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        flex-wrap: wrap;
        gap: 10px;
        margin: 10px 0px;

        .item-projetos {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            flex: 0 1 280px;
            border: solid 2px rgb(255, 255, 255);
            color: rgb(255, 255, 255);
            border-radius: 10px;
            box-shadow: 3px 3px 10px black;
            text-align: center;
            min-height: 190px;
            text-decoration: none;
            overflow: hidden;

            &.SUBSTITUTO {
                display: none;
            }
            
            p {
                position: relative;
                background-color: rgba(4, 4, 4, 0.27);
                border-radius: 5px;
                width: 100%;
            }

            h3 {
                backdrop-filter: blur(10px);
                z-index: 999;
                width: 100%;
            }

            img {
                width: 101%;
                height: 150px;
            }

            .containerBTN {

                .btnPersonalizado{
                    border-radius: 0px;
                    border-width: 2px;
                    padding: 5px;
                    width: 135px;
                }
            }

            &:hover {
                border: solid 2px $info;

                p {
                    letter-spacing: 0.2em;
                    transition: .4s;
                }
            }
        }
    }
    

    #descrition-of-project {
        text-align: center;
        padding: 5px 20px;
        margin: 40px auto;
        max-width: 80vw;
        border-bottom: solid .5px white;
        border-radius: 100px;

        p {
            color: $info;
            font-size: 1.1em;
            font-weight: bold;
        }
    }


    input[type=radio] {
        display: none;
    }
    
    .cardsCarrosel {
        position: absolute;
        width: 58%;
        height: 100%;
        left: 0;
        right: 0;
        border-radius: 15px;
        border: solid 3px rgb(255, 255, 255);
        box-shadow: 0px 1px 8px rgb(255, 255, 255);
        overflow: hidden;
        margin: 20px auto;
        cursor: pointer;
        transition: transform .5s ease;

        img {
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 10px;
            object-fit: cover;
        }

        .btnPersonalizado {
            background-color: black;
            position: absolute;
            bottom: 10px;
            padding: 10px 50px;

            &.deploy {
                left: 50%;
                transform: translateX(-120%);
            }
            &.github {
                right: 50%;
                transform: translateX(120%);
            }
        }

        &:hover {
            border: solid 3px aqua;
            box-shadow: 0px 1px 8px aqua;
        }
    }
    #container-slider {
        width: 80%;
        min-height: 200px;
        max-width: 900px;
        display: flex;
        transform-style: preserve-3d;
        flex-direction: column;
        margin: auto;
    }
    .cards {
        position: relative;
        width: 100%;
        height: 100%;
    }

    #input-slider-1:checked ~ #cards #label-3,
    #input-slider-2:checked ~ #cards #label-1,
    #input-slider-3:checked ~ #cards #label-2 {
        transform: translateX(-50%) scale(.8);
        opacity: 0.4;
        z-index: 0;
    }
    #input-slider-1:checked ~ #cards #label-2,
    #input-slider-2:checked ~ #cards #label-3,
    #input-slider-3:checked ~ #cards #label-1 {
        transform: translateX(50%) scale(.8);
        opacity: 0.4;
        z-index: 0;
    }
    #input-slider-1:checked ~ #cards #label-1,
    #input-slider-2:checked ~ #cards #label-2,
    #input-slider-3:checked ~ #cards #label-3 {
        transform: translateX(0) scale(1);
        opacity: 1;
        z-index: 1;
    }





    #btn-mais-projetos {
        display: none;
    }
    label {
        display: block;
    }
}


@media screen and (max-width: 920px) {
    #projetos {
        .contain-projetos {
            .projeto-descartavel {
                display: none;
            }

            .item-projetos {
                &.SUBSTITUTO {
                    display: inline-block;
                }
            }
        }

        #descrition-of-project {
            display: none;
        }

        .cardsCarrosel {
            display: none;
        }
        #container-slider {
            display: none;
        }

        #btn-mais-projetos {
            margin: 15px 0px;
            display: block;
        }
        
        #mais-projetos:checked ~ .contain-projetos .projeto-descartavel {
            display: flex;
        }
    }
}