@keyframes img-flutuante {
    0% {
        transform: translateY(25px);
    }
    50% {
        transform: translateY(-25px);
    }
    100% {
        transform: translateY(25px);
    }
}

#sobre-mim {
    display: flex;
    align-items: center;
    font-size: 1.15em;
    font-weight: bold;
    background-color: $preto-absoluto;
    color: $color;
    padding: 70px 50px 0px 50px;
    max-width: 100vw;
    min-height: 100vh;


    #div-animação-header {
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-align: justify;
        flex-wrap: wrap;
    }

    #sm-esquerda {
        text-align: center;

        #img-flutuante {
            animation-name: img-flutuante;
            animation-duration: 5s;
            animation-iteration-count: infinite;
            padding: 25px;
            border: 1.5px solid transparent;
            border-radius: 10%;

            &:hover {
                border: 1.5px solid $vermelho;
            }
        }
    }
    

    #sm-direita {
        flex: 0 1 600px;

        #span-nome {
            font-size: 1.5em;
        }

        #texto { 
            font-family: 'Ubuntu', sans-serif;
        }
    }
}

@media screen and (max-width: 700px) {
    #sobre-mim {
        text-align: center;
    }
    
    #texto-descartavel {
        display: none;
    }
}